.text-center{
    text-align: center;
  }
  
  .bg-palegreen{
    background: #e3f9ff;
  }
  
    
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }